@import 'grits';

body{
  background:#333;
  padding:3em;
  color:#fff;
}

a{
  height:10em;
  float:left;
  margin-right:3em;
  width:10em;
  text-indent:-999em;
  background:#fff;
  display:block;
  position:relative;
  &:before{
    content:'';
    display:block;
    height:5em;
    width:5em; 
    background:rgba(yellow, .3);
      border-radius:100%;
    position:absolute;
      left:1em;
      top:1em;
      z-index:2;
  }
  &:after{
    content:'';
      display:block;
      background:#FED501;
      width:2em; 
      height:2em;
      position:absolute;
      left:2em;
      border-radius:.125em;
      top:2em; 
  }
}

@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono|Ubuntu:700,400italic);

h1, h2, .module {
  font-family:'Ubuntu Mono';
}

h1{
  font-size:4em;
  padding-top:.9em;
  margin-bottom:0;
}

h2{
  font-weight:400;
  font-style:italic;
}

.grid{
  margin-top:5px;
  margin-bottom:3em;
}

